*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nimbus-sans, sans-serif;
}
body{
    overflow-x: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container .col-content .box{
    z-index: 2;
    width: 350px;
    height: 380px;
    margin: 0 0 10px;
    padding: 10px 0;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 1px;
}
.container .col-content .box .title{
    position: relative;
    top: 5px;
    text-align: center;
}

footer {
    padding: 30px 20px;
}
footer ul li{
    list-style: none;
    float: left;
}