*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    background-color: red;
    height: 80vh;
    width: 100vw;
}
.main-content{
    background-color: green;
    margin-top: 32px;
    padding-bottom: 32px;
    width: 100%;
}
.flex-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    height: 590px;
    width: 730px
}
.cel-image{
    display: flex;
    background-color: blue;
    height: 50%;
    width: 50%;
    margin-right: 32px;

}

footer{
    background-color: blue;
    height: 20vh;
    width: 100vw;
}