*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nimbus-sans, sans-serif;
}
body{
    overflow-x: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container .col-content .box{
    z-index: 2;
    width: 350px;
    height: 380px;
    margin: 0 0 10px;
    padding: 10px 0;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 1px;
}
.container .col-content .box .title img {
    width: 190px;
    height: 80px;
}
.container .col-content .box .title {
    position: relative;
    top: 5px;
    text-align: center;
}
.container .col-content{
    position: relative;
    top: 12px;
}
.container .col-content .box .login input{
    width: 300px;
    height: 40px;
    margin: 5px 25px;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 1px;
    
}
.container .col-content .box .login button{
    width: 300px;
    height: 40px;
    margin: 5px 25px;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 1px;
    background-color: #4db5f9;
}

.container .col-content .download .download-images img {
    width: 135px;
    height: 40px;
}
footer {
    padding: 30px 20px;
}
footer ul li{
    list-style: none;
    float: left;
}