*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1346px;
    height: 536px;
    padding-top: 72px;
    padding-bottom: 112px;
    margin: 0px;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 980px;
    height: 496px;
    padding: 20px 0px 20px 0px;
    margin: 0px auto 0px auto;
}
.form-section{
    display: flex;
    align-items:center;
    justify-content:center;
    
}
img{
    width: 135px;
    height: 40px;
}
.languages-ul{
    display: flex;
}
.more-ul{
    display: flex;
}