*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 922px;
    height: 536px;
    padding-top: 72px;
    padding-bottom: 112px;

}
.form-section{
    display: flex;
    align-items:center;
    justify-content:center;
    
}
img{
    width: 135px;
    height: 40px;
}
.languages-ul{
    display: flex;
}
.more-ul{
    display: flex;
}